// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


// Custom
//RESET 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//COMMON
// Typo
.uppercase {
    text-transform: uppercase;
}

//Header
.navbar {
    background-color: #08183d;
    color: #ffffff;
    padding: 20px;
}

.navbar h2 {
    margin-bottom: 0;
    font-size: 1.5rem;
}

// Main
.table {
    font-family: "Share Tech Mono", monospace;;
}

.table-titles {
    color: #08183d;
    font-size: 1rem;
}
